@import "node_modules/bootstrap/scss/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #8A96A1;
  font-style: normal;
  line-height: 24px;
}

body {
  background-color: #F5F8FA;
}

a {
  text-decoration: none;
  color: #8A96A1;
}

img {
  max-width: 100%;
}

.black {
  color: black;
}

.title {
  font-style: italic;
  font-size: 40px;
  line-height: 56px;
}
.title__text {
  font-style: normal;
}

/*      HEADER      */
.header {
  display: flex;
  justify-content: space-between;
  padding: 35px 24px;
  width: 100%;
  top: 0;
  align-items: center;
  z-index: 50;
}

.logo {
  align-items: center;
  display: flex;
}
.logo__img {
  margin-right: 15px;
}
.logo img {
  width: 100%;
}
.logo__text {
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  color: #101F2B;
}

.nav {
  list-style: none;
}
.nav__item {
  display: inline-block;
  margin-right: 32px;
}
.nav__item a {
  transition: all 0.2s linear;
}
.nav__item a:hover {
  color: #0E70C7;
}
.nav__item:last-child {
  margin-right: 0;
}

.authorization {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #0E70C7;
  font-family: "Manrope", sans-serif;
}
.authorization__login {
  font-family: inherit;
  margin: 0 32px;
  border: none;
  color: inherit;
}
.authorization__signup {
  border: 1px solid #0E70C7;
  font-family: inherit;
  border-radius: 12px;
  padding: 8px 16px;
  color: inherit;
  transition: all 0.2s linear;
}
.authorization__signup:hover {
  background-color: #0E70C7;
  color: #e5e5e5;
}

/*     FARM-NAME     */
.farm-name {
  background-image: url("img/head.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1024px;
  margin-bottom: 110px;
}
.farm-name__title {
  padding-top: 192px;
}
.farm-name__description {
  padding-top: 41px;
}
.farm-name__items {
  padding-top: 16px;
}

/*     OPPORTUNITIES     */
.box {
  background-color: #ffffff;
  padding: 40px 40px 0 40px;
  margin-bottom: 24px;
  min-height: 330px;
  border-radius: 12px;
  font-size: 16px;
}
.box__title {
  position: relative;
  margin-bottom: 34px;
}
.box__title-text {
  font-style: italic;
}
.box__title-text::after {
  content: "";
  height: 2px;
  width: 32px;
  background: #0E70C7;
  left: 0;
  position: absolute;
  bottom: -16px;
}

.opportunity {
  margin-bottom: 150px;
  padding-top: 50px;
}
.opportunity__boxes {
  margin: 0;
  padding: 0;
}
.opportunity__function {
  margin-top: 40px;
}

/*      INSTRUCTION     */
.instruction {
  padding-top: 50px;
  margin-bottom: 120px;
}
.instruction__boxes {
  align-items: center;
  justify-content: space-between;
}
.instruction__title {
  margin-bottom: 24px;
}
.instruction__img {
  max-width: 500px;
  max-height: 360px;
}

.box__text {
  margin-bottom: 40px;
}

.btn-sm {
  padding: 20px 65px;
  color: #ffffff;
  cursor: pointer;
  background: #0E70C7;
  border-radius: 12px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 16px;
  border: none;
}

/*     CONTACTS     */
.btn-xl {
  font-size: 14px;
  padding: 20px 16px;
  width: 100%;
  border: none;
  border-radius: 12px;
  background-color: #0E70C7;
  color: #ffffff;
  line-height: 16px;
  text-transform: uppercase;
}

.input {
  padding: 12px 16px;
  border: 1px solid #D4DBE1;
  border-radius: 12px;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  outline: none;
}

.input-xl {
  padding: 12px 16px 58px 16px;
  border-radius: 12px;
  width: 100%;
  border: 1px solid #D4DBE1;
  font-size: 18px;
  color: #6A727AFF;
  font-weight: normal;
  outline: none;
}

.input-xl::placeholder {
  color: #8A96A1;
}

.input::placeholder {
  color: #8A96A1;
}

.contacts {
  margin-bottom: 120px;
  padding-top: 50px;
}
.contacts__title {
  padding-bottom: 32px;
}
.contacts__info {
  padding-top: 24px;
}
.contacts__description {
  padding-bottom: 56px;
}
.contacts__message {
  padding-bottom: 56px;
}
.contacts__field {
  padding-bottom: 36px;
}
.contacts__text {
  display: block;
  padding-bottom: 8px;
}

/*      FOOTER      */
.footer {
  padding: 56px 0;
  border-top: 1px solid #D4DBE1;
}
.footer__info {
  align-items: center;
}

.support {
  text-align: right;
}
.support__title {
  font-weight: 500;
  font-size: 16px;
  color: #101F2B;
  margin-bottom: 15px;
}
.support__contact {
  font-size: 16px;
}
.support__contact a {
  text-decoration: underline;
  color: #0E70C7;
  display: inline-block;
}

@media (max-width: 991px) {
  /*      HEADER        */
  .navbar-nav {
    align-items: center;
  }

  .d-flex {
    justify-content: center;
  }

  /*      FARM-NAME        */
  .farm-name {
    text-align: center;
  }
  .farm-name__list {
    padding-top: 35px;
  }

  /*      OPPORTUNITY        */
  .opportunity {
    text-align: center;
  }
  .opportunity__boxes {
    padding-top: 15px;
    text-align: left;
  }
  .opportunity__function {
    margin: 0;
  }

  .box {
    min-height: 290px;
  }

  /*      CONTACTS        */
  .contacts {
    text-align: center;
  }
  .contacts__field {
    text-align: left;
    margin-top: 50px;
  }
  .contacts__email {
    padding-top: 15px;
  }
  .contacts__text {
    margin-top: 25px;
  }

  /*      INSTRUCTION     */
  .instruction {
    text-align: center;
  }
  .instruction__img {
    display: none;
  }

  /*        FOOTER       */
  .footer__info {
    justify-content: center;
  }
  .footer__info .logo {
    justify-content: center;
    margin-bottom: 50px;
  }
  .footer__info .support {
    text-align: center;
    max-width: 516px;
  }
}

/*# sourceMappingURL=style.css.map */
