//@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "node_modules/bootstrap/scss/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #8A96A1;
  font-style: normal;
  line-height: 24px;
}
body{
  background-color: #F5F8FA;
}
a{
  text-decoration: none;
  color: #8A96A1;
}
img{
  max-width: 100%;
}
.black{
  color: black;
}
.title{
  font-style: italic;
  font-size: 40px;
  line-height: 56px;
  &__text{
    font-style: normal;
  }
}


/*      HEADER      */

.header{
  display: flex;
  justify-content: space-between;
  padding: 35px 24px;
  width: 100%;
  top: 0;
  align-items: center;
  z-index: 50;
}
.logo{
  align-items: center;
  display: flex;
  &__img{
    margin-right: 15px;
  }
  img{
    width: 100%;
  }
  &__text{
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    color: #101F2B;
  }
}
.nav{
  list-style: none;
  &__item{
    display: inline-block;
    margin-right: 32px;
    a{
      &:hover{
        color: #0E70C7;
      }
      transition: all .2s linear;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}
.authorization{
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #0E70C7;
  font-family: 'Manrope', sans-serif;;
  &__login{
    font-family: inherit;
    margin: 0 32px ;
    border: none;
    color: inherit;
  }
  &__signup{
    border: 1px solid #0E70C7;
    font-family: inherit;
    border-radius: 12px;
    padding: 8px 16px;
    color: inherit;
    transition: all .2s linear;
    &:hover{
      background-color: #0E70C7;
      color: #e5e5e5;
    }
  }
}


/*     FARM-NAME     */

.farm-name{
  background-image: url("img/head.png");
  background-repeat: no-repeat ;
  background-size: cover;
  height: 1024px;
  margin-bottom: 110px;
  &__title{
    padding-top: 192px;
  }
  &__description{
    padding-top: 41px;
  }
  &__items{
    padding-top: 16px;
  }
}


/*     OPPORTUNITIES     */

.box{
  background-color: #ffffff;
  padding: 40px 40px 0 40px;
  margin-bottom: 24px;
  min-height: 330px;
  border-radius: 12px;
  font-size: 16px;
  &__title{
    position: relative;
    margin-bottom: 34px;
  }
  &__title-text{
    font-style: italic;
  }
  &__title-text::after{
    content: "";
    height: 2px;
    width: 32px;
    background: #0E70C7;
    left: 0;
    position: absolute;
    bottom: -16px;
  }
}
.opportunity{
  margin-bottom: 150px;
  padding-top: 50px;
  &__boxes{
    margin: 0;
    padding:0;
  }
  &__function{
    margin-top: 40px;
  }
}


/*      INSTRUCTION     */

.instruction {
  padding-top: 50px;
  margin-bottom: 120px;
  &__boxes{
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__img{
    max-width: 500px;
    max-height: 360px;
  }
}
.box__text{
  margin-bottom: 40px;
}
.btn-sm{
  padding: 20px 65px;
  color: #ffffff;
  cursor: pointer;
  background: #0E70C7;
  border-radius: 12px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 16px;
  border: none;
}


  /*     CONTACTS     */

.btn-xl{
  font-size: 14px;
  padding: 20px 16px;
  width: 100%;
  border: none;
  border-radius: 12px;
  background-color: #0E70C7;
  color: #ffffff;
  line-height: 16px;
  text-transform: uppercase;
}
.input{
  padding: 12px 16px;
  border: 1px solid #D4DBE1;
  border-radius: 12px;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  outline: none;
}
.input-xl{
  padding: 12px 16px 58px 16px;
  border-radius: 12px;
  width: 100%;
  border: 1px solid #D4DBE1;
  font-size: 18px;
  color: #6A727AFF;
  font-weight: normal;
  outline: none;
}
.input-xl::placeholder{
  color: #8A96A1;
}
.input::placeholder{
  color: #8A96A1;
}

.contacts{
  margin-bottom: 120px ;
  padding-top: 50px;
  &__title{
    padding-bottom: 32px;
  }
  &__info{
    padding-top: 24px;
  }
  &__description{
    padding-bottom: 56px;
  }
  &__message{
    padding-bottom: 56px;
  }
  &__field{
    padding-bottom: 36px;
  }
  &__text{
    display: block;
    padding-bottom: 8px;
  }
}


  /*      FOOTER      */

.footer{
  padding: 56px 0;
  border-top: 1px solid #D4DBE1;
  &__info{
    align-items: center;
  }
}
.support {
  text-align: right;
  &__title{
    font-weight: 500;
    font-size: 16px;
    color: #101F2B;
    margin-bottom: 15px;
  }
  &__contact {
    font-size: 16px;
    a {
      text-decoration: underline;
      color: #0E70C7;
      display: inline-block;
    }
  }
}






@media (max-width: 991px) {

  /*      HEADER        */
  .navbar-nav {
    align-items: center;
  }
  .d-flex{
    justify-content: center;
  }
  /*      FARM-NAME        */
  .farm-name{
    text-align: center;
    &__list{
      padding-top: 35px;
    }
  }
  /*      OPPORTUNITY        */
  .opportunity{
    text-align: center;
    &__boxes{
      padding-top: 15px;
      text-align: left;
    }
    &__function{
      margin: 0;
    }
  }
  .box{
    min-height: 290px;
  }
  /*      CONTACTS        */
  .contacts{
    text-align: center;
    &__field{
      text-align: left;
      margin-top:50px
    }
    &__email{
      padding-top:15px;
    }
    &__text{
      margin-top: 25px;
    }
  }
  /*      INSTRUCTION     */

  .instruction{
    text-align: center;
    &__img{
      display: none;
    }
  }


    /*        FOOTER       */
  .footer__info{
    justify-content: center;
    .logo{
      justify-content: center;
      margin-bottom: 50px;
    }
    .support{
      text-align: center;
      max-width: 516px;
    }
  }
}

